<div class="container ">
  <div class="d-flex justify-content-around text-center">
  <form class="form-control login-form">
  <div class="form-group">
    <div>
      <label class="h3" for="email-login">Email:</label>
      <input class="form-control" type="text" id="email-login" />
    </div>
    <div>
      <label class="h3" for="password-login">Password:</label>
      <input class="form-control" type="password" id="password-login" />
    </div>
    <div>
      <button class="btn btn-info log-sign-btn" type="submit">Login</button>
    </div>
  </div>
</form>
</div>

<div class="d-flex justify-content-around text-center">
  <form class="form-control signup-form">
  <div class="form-group">
    <div>
      <label class="h3" for="email-signup">Email:</label>
      <input class="form-control" type="text" id="email-signup" />
    </div>
    <div>
      <label class="h3" for="password-signup">Password:</label>
      <input class="form-control" type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn btn-info log-sign-btn">Signup</button>
    </div>
  </div>
</form>
</div>
</div>

<script src="/js/login.js"></script>
